.sheet-curtain {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: .5;
}
body.has-sheets {
  overflow: hidden !important;
}
.sheets-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.sheets-wrapper z-index:1003 * {
  box-sizing: border-box;
}
.sheets-wrapper .sheet-container {
  text-align: center;
  position: absolute;
  min-height: 100%;
  left: 0;
  top: 0;
  right: 0;
  padding: 8px;
  z-index: 3;
}
.sheets-wrapper .sheet-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.sheets-wrapper .sheet {
  padding: 10px 20px;
  background: #FFF;
  width: 500px;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  vertical-align: top;
  text-align: left;
  display: inline-block;
  position: relative;
  z-index: 3;
}
.sheets-wrapper .sheet h2 {
  margin: -10px -20px 1em -20px;
  background: #FAFAFA;
  border: 1px solid #EFEFEF;
  border-width: 1px 0;
  padding: 10px 10px 10px 20px;
  font-weight: normal;
}
.sheets-hidden {
  display: none !important;
}
